[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
